/* Selectores tipo o de etiqueta: este tipo de practicas no es recomendable
   Lo que si es recomendable o una buena practica es añadir class a las etiquetas html5 */
/*
h1
{
    background: yellow;
}

p
{
    background: black;
    color: green;
}
*/
/*Acontinuacion referenciamos el atributo class del elemento html5. Tambien podemos usar el
  atributo id pero se recomienda utilizarlo unicamente en javascript. Los selectores de id en css
  se reconocen por #nombre_del_selector*/
.title, .parrafo /*<- Selector agrupado*/
{
    color: red;
}

.description
{
    background: black;
    color: green;
}

.bold
{
    font-weight: bold;
}

.center
{
    text-align: center;
}

/* selectores descendientes: A todos los .list-item que son hijos de .list
   Los selectores descendientes no se recomiendan usar, si los hijos ya tiene un atributo class
   basta con especificar .list-item*/
.list .list-item
{
    color: red;
}
/*Selector hijo directo: Todo ul que sea hijo directo de li*/
li > ul
{
    display: none;
}

li:hover ul
{
    display: block;
}