.padded
{
    font-size: 16px;
    padding: 2em; /*set padding en todos lados igual al font-size. El padding es multiplicado por el 16px.
    usar ems puede ser conveniente cuando establecemos propiedades como padding, height, width, border-radius*/
}
.box
{
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}
/*diferentes font-sizes, el cual definira el tamano em de los elementos*/
.box-small
{
    font-size: 12px;
}

.box-large
{
    font-size: 18px;
}