ul
    each page in pages
        // Operador ternario que añade la clase active si el item de menu coincide con la pagina
        -page == currentPage ? active = 'active' : active = ''
        if page != 'inicio'
            li: a(href=page + '.html' class=active) #{page}