extends templates/template.pug

append config
    -pageTitle='Contacto'
    -description='Ponte en contacto con nosotros'
    -currentPage='contacto'

block main
    <iframe height="500" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://barcvilla.wufoo.com/embed/zf8jry0vtthvo/">
        <a href="https://barcvilla.wufoo.com/forms/zf8jry0vtthvo/">Deje su mensaje aqui</a>
    </iframe>
    
                                              
block footer
    p Creativos ABC -  Todos los derechos reservados