extends templates/template.pug

append config
    -pageTitle='Contacto'
    -description='Ponte en contacto con nosotros'
    -currentPage='contacto'

    
block footer
    p Creativos ABC -  Todos los derechos reservados