extends templates/template.pug

append config
    -pageTitle='Servicios'
    -description='Conoce quienes somos'
    -currentPage='Servicios'

block main
    h1 Bienvenidos
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac convallis felis. 
      Mauris quis neque ex. Donec scelerisque, nunc in lobortis blandit, odio nunc ornare mi, 
      sed viverra massa nisi et enim. Etiam at tincidunt urna, a ullamcorper massa. Pellentesque fringilla auctor faucibus. 
      Sed vel facilisis nisl. Morbi odio erat, semper a aliquet ut, auctor dictum nulla. 
      Aenean mauris nibh, ultrices a metus dignissim, maximus efficitur libero. Praesent hendrerit massa in est convallis, sed tincidunt ex tincidunt.
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vel lobortis neque, a hendrerit neque. 
      Cras aliquet commodo erat in fermentum. Donec dictum porta ultrices. Cras ac tortor et sapien suscipit vulputate. Praesent scelerisque tellus bibendum, euismod felis et, consectetur velit. Nulla eget mi semper, aliquam quam vel, imperdiet dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer semper commodo odio, eget sagittis ante pretium at.
      hendrerit congue ullamcorper. Aenean sed sapien fringilla, fringilla ex at, pretium nisi. Praesent tincidunt ligula ac orci pellentesque blandit. Donec a magna vehicula, scelerisque lacus sit amet, porta justo. Duis eu velit risus. Proin elit sapien, porttitor vitae rhoncus nec, vehicula non lacus. Donec vehicula lectus vitae purus luctus tincidunt. Cras pellentesque felis sed tortor luctus accumsan. Aenean et turpis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
      Vivamus velit est, viverra nec suscipit sit amet, bibendum eget ipsum. Suspendisse id pretium eros. Morbi nunc nunc, gravida ac arcu vitae, imperdiet dapibus nibh. Curabitur vitae interdum sem.
    
block footer
    p Creativos ABC -  Todos los derechos reservados