// Declaracion de variables globales
-pages=['inicio', 'nosotros', 'servicios', 'portafolio', 'contactos']
-pageTitle='Home'
-siteTitle='Creativos ABC'
-description='Bienvenidos al sitio web Creativos ABC'
-currentPage='inicio'