// estructura basica de todas las paginas en el proyecto
block config
    include ../config/config.pug

doctype html
html
    head
        title #{pageTitle} | #{siteTitle}
        meta(charset="utf-8")
    body